PORT=3333

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=coloque_sua_senha_aqui
DB_NAME=menuflow

FRONTEND_URL=http://localhost:3000

JWT_SECRET=gere_um_jwt_secret_forte
JWT_ISSUER=cardapio-api
JWT_AUDIENCE=cardapio-web
JWT_EXPIRES_IN=15m

ASAAS_ENV=sandbox
ASAAS_API_KEY=coloque_sua_chave_asaas_aqui
ASAAS_BASE_URL=https://api-sandbox.asaas.com/v3
ASAAS_WEBHOOK_TOKEN=coloque_um_token_forte_aqui
ASAAS_DEFAULT_CUSTOMER_CPF_CNPJ=coloque_um_cpf_ou_cnpj_valido_aqui

BILLING_CRON_ENABLED=true
BILLING_CRON_TIMEZONE=America/Sao_Paulo
BILLING_CREATE_IN_ADVANCE_DAYS=10
BILLING_BLOCK_AFTER_DUE_DAYS=3
BILLING_REMINDER_DAYS_BEFORE_DUE=10
BILLING_REMINDER_DAYS_AFTER_DUE=30
BILLING_REMINDER_CHANNELS=EMAIL

RESEND_API_KEY=coloque_sua_chave_resend_aqui
EMAIL_PROVIDER=resend
EMAIL_FROM="Serviu <onboarding@resend.dev>"
EMAIL_TEST_TO=seu_email_de_teste@gmail.com


CLOUDINARY_CLOUD_NAME=coloque_seu_cloud_name_aqui
CLOUDINARY_API_KEY=coloque_sua_api_key_aqui
CLOUDINARY_API_SECRET=coloque_sua_api_secret_aqui